{erl_opts, [debug_info, {src_dirs, ["src", "testsuite"]}]}.

{deps,
 [jsone,
  {hackney, ".*", {git, "git://github.com/benoitc/hackney.git", {branch, "master"}}}]}.

{cover_enabled, true}.

{shell,
 % {config, "config/sys.config"},
 [{apps, [omnixent]}]}.

{plugins, [rebar3_format]}.

{profiles,
 [{native, [{erl_opts, [{d, 'ENABLE_HIPE'}]}]},
  {edown, [{edoc_opts, [{doclet, edown_doclet}]}, {deps, [edown]}]},
  {test, [{erl_opts, [debug_info]}, {plugins, [covertool]}]}]}.
